# Secrets
.env
server/.env
*.json
!server/requirements.txt

# Backups
*.bak*

# Cache
__pycache__/
*.pyc

# Zip bestanden
*.zip

# Data
data/
server/ip_log.jsonl
server/scanner_rl.json
server/oauth_state.json
server/draft-*.json
server/licenses.json
server/joepi

# Venv
.venv/
venv/

# Overig
client/csv_writer.py
client/description.py
client/main.py
client/uploader.py
